:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: x-large;
}

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1, h2, h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}